# Requirements for the demo notebooks
# Useful for MyBinder configuration
pandas
numpy
datascience
folium
matplotlib
scipy
sklearn
git+git://github.com/illdopejake/nilearn.git@28048ec192abf6f83bfe95e7049455a63ced36cc
repo2data
seaborn
