# Requirements for the demo notebooks
# Useful for MyBinder configuration
pandas
numpy
datascience
folium
matplotlib
scipy
sklearn
git+https://github.com/nilearn/nilearn/commit/e84e1aff00345a84cd98338d1ff0305d81a2ed6f
repo2data
seaborn
